[Desktop Entry]
Type=Application
Version=0.1.1+2
Name=Wives
GenericName=Terminal Emulator
Icon=wives
Exec=wives %U
Categories=Flutter;Terminal;Command-Line;System;TerminalEmulator;
Keywords=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt;
StartupNotify=true